<h1>Editing person</h1>

<% form_for(@person) do |f| %>

  <p>
    <%= f.label :organization %><br />
    <%= f.text_field :organization %>
  </p>
  <p>
    <%= f.label :last %><br />
    <%= f.text_field :last %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :middle %><br />
    <%= f.text_field :middle %>
  </p>
  <p>
    <%= f.label :urls %><br />
    <%= f.text_field :urls %>
  </p>
  <p>
    <%= f.label :first %><br />
    <%= f.text_field :first %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @person %> |
<%= link_to 'Back', people_path %>
