<h1>New person</h1>

<% form_for(@person) do |f| %>

  <p>
    <%= f.label :organization %><br />
    <%= f.text_field :organization %>
  </p>
  <p>
    <%= f.label :last %><br />
    <%= f.text_field :last %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :middle %><br />
    <%= f.text_field :middle %>
  </p>
  <p>
    <%= f.label :home_page %><br />
    <%= f.text_field :home_page %>
  </p>
  <p>
    <%= f.label :first %><br />
    <%= f.text_field :first %>
  </p>
  <p>
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', people_path %>
